@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;400;700;900&display=swap');

:root{
	--color-primary-blue: #bfccde;
	--color-dark-blue: #002C50;
	--color-medium-blue: #4D70AF;
	--color-primary-orange: #FA8072;
	--color-primary-yellow: #F1C40F;
	--color-dark-grey: #555; 
	--color-primary-light: #fff;
	
}

*, *::before, *::after { box-sizing: border-box; }

html { font-family: 'Archivo', sans-serif; font-size: 16px; line-height: 1.5em;   scroll-behavior: smooth; }

body { display: block; min-height: 100vh; margin: 0; text-rendering: optimizeSpeed; }

img, picture { max-width: 100%; display: block; }

input, button, textarea, select { font: inherit; }

strong { font-weight: 900; }

a{color: var(--color-primary-dark);}


.Hidden, .ScreenReaders {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden;
clip: rect(0,0,0,0); white-space: nowrap; border-width: 0}

.LimitWidth{ max-width: 100rem; margin: 0 auto}
 

/*******************************/ 
//General

.ButtonOutline{display: block; border-radius: 0.5em; text-align: center; padding: 0.5em ; text-transform: uppercase;  font-size: 0.8rem; background: transparent; border: 1px solid var(--color-primary-yellow); color: var(--color-primary-light); font-weight: 700;
	&:hover { background: rgba(0,0,0,0.5)}}

.ButtonTransparent{display: inline-block; text-align: center; font-size: 1rem; background: transparent; color: var(--color-primary-yellow); text-decoration: none; font-weight: 900; margin: 1.5rem;
	&:hover{color: var(--color-primary-light);}
	&:active{border: 1px solid var(--color-primary-yellow);padding: 0.5em ; border-radius: 0.5em; }}

.ButtonPrimary{display: block; border-radius: 0.5em; text-align: center; padding: 0.5em ; text-decoration: none; font-size: 1rem; background: var(--color-primary-yellow); color: var(--color-dark-grey); font-weight: 900; margin: 1.5rem; border: none;
	&:hover { background: rgb(244, 209, 65)}}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: rotate3d(1, 1, 0, 10deg);
	}
	to {
		opacity: 1;
		transform:  rotate3d(0);
	}
}

/*******************************/ 
//Layout

.Container{position: relative;}
.Header{display: flex; justify-content: space-between; align-items: center; background: var(--color-dark-grey); position: sticky; top: 0; height: 5rem;  z-index: 99;}
	.Logo{display: block; padding: 0.5em; margin-left: 1rem;
		@media (min-width: 800px){margin-left: 2rem; }
		@media (min-width: 1280px){margin-left: 3rem;}}
		.LogoPicture img{display: block;
			@media (min-width: 800px){width: 10rem; height: auto; max-width:10rem} }
		.ToggleMenu{display: flex;align-items: center; justify-content: center; background: transparent; color: var(--color-primary-yellow); border: none; padding: 0.5em; font-weight: 900; cursor: pointer; fill: var(--color-primary-yellow);
			&:hover{ color: var(--color-primary-light)}
			@media (min-width: 1350px){display: none;}
	}
		.ToggleText{display: block; line-height: 1.625rem;}
		.ToggleIcon{display: block;  padding: 0 0 0 0.5em;}
	.MainMenu{display: none; position: absolute; top: 5rem; background: var(--color-primary-light); width: 100%; max-height:calc(100vh - 5rem); overflow-y: auto; 
		@media (min-width: 1350px){display: flex;  align-items: center; justify-content: center; width: auto; max-height: none; overflow: none; position: static; top:auto; background: transparent; border: none;}}
		.MainMenuItems{display: block; margin: 1.5rem 0; padding-left: 0;
			@media (min-width: 1350px){display: flex; align-items: center; justify-content: center;}}
			.MainMenuItem{display: block; border-bottom: 2px solid var(--color-dark-blue);
				@media (min-width: 1350px){border-bottom: none;}}
				.MainMenuLink{display: block; padding: 1.5rem ; font-size: 1.2rem; line-height: 1em; text-decoration: none; color: var(--color-dark-blue); text-transform: uppercase; text-align: center;
					&:hover {background: var(--color-primary-blue); }
				@media (min-width: 1350px){padding: 1rem; font-size: 1rem; color: var(--color-primary-blue);
					&:hover {color: var(--color-primary-light); background: none;}}}
				.Buttons{ display: flex;flex-direction: column-reverse; align-items: center; justify-content: center;	
					@media (min-width: 1350px){flex-direction: row; justify-content: space-around; margin-left: 2rem; width: 20rem;}}
				.SignUpCTA{width: 50%;
					@media (min-width: 1350px){margin: 1.5rem;  }}
				.ExistingAccount{ color: var(--color-dark-grey); font-size: 1.2rem; font-weight: 700;
					@media (min-width: 1350px){display: none;  }
				}


.MainContent{background: url("./images/vecteezy_abstract-white-fluid-wave-background_.webp") center/cover repeat ; }
	.Heading{display:flex; flex-direction: column; align-items: center; justify-content: center; height: 50rem; background: var(--color-primary-light); margin-bottom: 5rem; position: relative; z-index: 2;
		@media (min-width: 800px){height: 40rem;}}
		.PageTitle{display: block; font-weight: 100; font-size: 3.8rem; line-height: 4rem; color: var(--color-dark-blue);margin-left: 1rem; margin-top: 5rem;
			@media (min-width: 850px){margin: 3rem;  } }
		.PageSubTitle{display: block; font-weight: 400;font-size: 1.5rem; margin:1rem; letter-spacing: 0.125rem; color: var(--color-medium-blue);
			@media (min-width: 850px){margin: 3rem;  } 
			@media (min-width: 1350px){width: 70%; }}
		.CTA{display: block; margin: 3rem 1rem;}
			.CTA span{display: inline-block; font-size: 1.5rem; font-weight: 400; letter-spacing: 0.125rem; color: var(--color-medium-blue);}
			.MainCTA{display: inline-block; font-size: 1.5rem; font-weight: 400; letter-spacing: 0.125rem; color: var(--color-medium-blue); text-decoration: none;
			&:hover{color: var(--color-dark-blue); border-bottom: 1px solid var(--color-dark-blue);}}
	.FirstSeparator{background: var(--color-primary-orange); width: 5rem; margin: 0 auto; position: absolute; bottom: 0; border: none; height: 0.2rem; }
.Customers{display: block;}
	.CustomersText{display: flex;align-items: center; justify-content: center; flex-direction: column; 
		@media (min-width: 850px){flex-direction: row; justify-content: center; margin: 2rem;}
	}
		.CustomersText svg{ fill: var(--color-dark-blue); width: 8rem;
			@media (min-width: 850px){width: 10rem; height: auto; justify-content: space-between; };
		}
	.CustomersTitle{display: block; font-weight: 100; font-size: 2.3rem; line-height: 3rem; color: var(--color-dark-blue);margin-left: 1rem; margin-top: 5rem;
		@media (min-width: 850px){margin: 0 3rem;  } }
	.Filters{display: flex; align-items: center; justify-content: center; 

		@media (min-width: 850px){width: 70%; margin: 0 auto; justify-content: space-between;}}
		.Sorting{}
			.Fieldset{display: flex; align-items: center; justify-content:flex-start; border: none; padding-top: 0.8rem;}
				Legend{display: none;}
					.LabelSort{display: block; cursor: pointer; }
						.LabelText{display: block; font-family: 'Archivo', sans-serif; color: var(--color-medium-blue); font-weight: 700;}
							.Select{border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem; background: rgba(191, 204, 222, 0.1); border: 1px solid var(--color-dark-grey); height: 2rem; border-right: none;  outline: none;
							&:hover{border: 3px solid var(--color-primary-blue);} }
							.Select option{font-family: 'Archivo', sans-serif;}
							.BtnSorting{display: flex; border: 1px solid var(--color-dark-grey); ; height: 2rem; border-top-right-radius: 0.5rem; border-bottom-right-radius: 0.5rem; background: rgba(191, 204, 222, 0.1); margin-top: 1.5rem;  width: 5rem; position: relative;
								&:hover{border: 3px solid var(--color-primary-blue);}}
								.BtnSorting span{font-family: 'Archivo', sans-serif; }
								#ascending{fill: var(--color-dark-blue); position: absolute; top:0; right: 0.3rem;}
								#descending{display: none; fill: var(--color-dark-blue); position: absolute; top:0; right: 0.3rem;}
	.FilterButton{display: flex; flex-direction: column; align-items: center; justify-content: flex-start;}
		.FilterButton span{display: block;  color: var(--color-medium-blue); font-weight: 700;}
		.Filter{
			@media (min-width: 850px){margin-left: 15%;}}
		.FieldsetFilter{display: flex; align-items: center; justify-content:center; border: none; padding-top: 0.8rem;
			@media (min-width: 1100px){justify-content: flex-end; margin-right: 17%;}}
			.FilterContainer{ }
			
				.BtnShowFilters{border-radius: 0.5rem; background: rgba(191, 204, 222, 0.1); border: 1px solid var(--color-dark-grey); height: 2rem; font-family: 'Archivo', sans-serif; 
					&:hover{border: 3px solid var(--color-primary-blue);}}
				.FilterOptions{display: none; align-items:flex-start; justify-content:center; flex-direction: column;
					@media (min-width: 650px){flex-direction: row; justify-content: flex-start; }}
					.FilterContainer {display: flex; }
					.LabelFilter{ 
						@media (min-width: 850px){&:last-child{margin-left: 2rem;}}
					}
					.LabelFilter {
						&:last-child{
							@media (min-width: 650px){margin-left: 2rem;}	
						}
					}
					.SelectFilter{border-radius: 0.5rem; background: rgba(191, 204, 222, 0.1); border: 1px solid var(--color-dark-grey); height: 2rem; width: 16rem; outline: none;
						&:hover{border: 3px solid var(--color-primary-blue);}
					}
						.SelectFilter option{font-family: 'Archivo', sans-serif; color: var(--color-dark-blue);}
						.LabelText{}
	.CustomersContainer{display: block; margin: 3rem 1rem;padding-bottom: 3rem; margin-bottom: 0;}
		.CustomersItems{display: flex; list-style: none; flex-wrap: wrap; align-items: center; justify-content: center;  padding-left: 0;}
			.CustomersItem{width: 12rem; background: var(--color-primary-light); margin: 2rem ; padding: 2rem; margin-bottom: 0; border-radius: 0.5rem; box-shadow: 0 0 1rem  var(--color-primary-blue); 
				@media (min-width: 375px){width: 25rem;}
				@media (min-width: 660px){width: 15rem; padding: 2rem;}
				@media (min-width: 1280px){width: 25rem; padding: 2rem;}
			}
				.CustomersImage{width: 10rem; margin: 0 auto;}
.Reviews{padding-bottom: 4rem; position: relative; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.reviewRating{display: none;}
.Reviews .CustomersText svg{width: 10rem ; height: 10rem;}
.Review{display: block;	 background: var(--color-primary-light);margin: 1rem; padding: 2rem 1rem; margin-bottom: 0; border-radius: 0.5rem; box-shadow: 0 0 1rem  var(--color-primary-blue);
	@media (min-width: 600px){ margin: 4rem auto; max-width: 80%;  margin-bottom: 0; }
	@media (min-width: 1280px){max-width: 50%;}
}
	.ReviewAuthorContainer{display: flex; align-items: center; justify-content: center; flex-direction: column;}
	.SvgSeparator{display: flex; align-items: center; justify-content: center;}
	.SvgSeparator hr{width: 6rem; background: var(--color-primary-blue); height: 0.15rem;  border: none;}
	.ReviewAuthorContainer svg{width: 3rem; height: 3rem;}
		.ReviewAuthorContainer svg path{fill: var(--color-primary-orange); }
		.ReviewAuthorPerson{display: flex; align-items: flex-start; justify-content: center; flex-direction: column; color: var(--color-dark-blue);} 
			.ReviewAuthor{}
			.ReviewAuthorPosition{color: var(--color-medium-blue);}
	.ReviewTitle{font-size: 1.4rem; color: var(--color-medium-blue); text-align: center;}
		.ReviewTitle span{color: var(--color-primary-orange);}
	.ReviewTextContainer{padding: 1rem;}
		.AuthorImage{border-radius: 50%; float: left; margin-right: 1rem;}
		.ReviewText{color: var(--color-medium-blue); }
		.ReadMore{display: inline-block;}
		.ReadMore, .ReadLess{color: var(--color-primary-orange);}
	.MoreDetails{padding: 1rem; display: none;}
		.MoreDetailsImage{ clear:both;  margin-right: 1rem; float: left;}
		.MoreDetailsText{ color: var(--color-medium-blue);}

.CTAMain{display: block; margin: 4rem 1rem; border: none; }
.CTAMain a{text-decoration: none;}
.SecondSeparator{background: var(--color-primary-orange); width: 5rem; margin: 0;  position: absolute; bottom: 0; border: none; height: 0.2rem; }

.Discover{display: flex; align-items: center; justify-content: center; flex-direction: column;
	@media (min-width: 850px){margin-top: 4rem;}}
.DiscoverText{font-size: 1.5rem; color: var(--color-medium-blue); margin-bottom: 0; padding-left: 1rem;}
.Footer{background: url("./images/G00050000642.webp") center/cover repeat ;  padding-bottom: 5rem; color: var(--color-primary-blue);}

.Footer{height: 12rem;}
.FooterContact{ display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 2rem 0 0  ; color: var(--color-primary-orange); text-transform: uppercase; font-size: 0.8rem;
	@media (min-width: 450px){font-size: 1.2rem;} 	}
		.FooterItems{display: flex; align-items: center; justify-content: center; list-style-type: none; padding-left: 0;
		}	
			.FooterItem{ margin-left: 1rem;}
				.FooterLink{text-decoration: none;
				&:hover{color: var(--color-primary-blue);}
				@media (min-width: 850px){font-size: 1.3rem;}}
		.FooterCopy{font-size: 1.2rem; text-align: center;}	
		
		
.Active{display: block;}
.ShowFilters{display: flex;}
/*******************************/ 
//Print

@media print {

	* { background-image: none; background: white; color: black; }

	@page { margin: 2cm; }
	@page :first { margin-top: 3cm; }
	@page :left { margin-right: 3cm; }
	@page :right { margin-left: 3cm; }

	html { background: white; font-size: 12pt; line-height: 1.5em; }

	a:link, a:visited { color: #00f; background: transparent; font-weight: bold; }
	a:not([href^="http"]):after { content: " (" attr(href) ")"; font-size: 0.9em; }
	a[href^="/"]:after { content: " (https://viorelmocanu.github.io/LinkInBio" attr(href) ") "; }
	/*a:not(:local-link):after { content: " (" attr(href) ")»"; }*/
	a:after > img { content: ""; }

	body::after { content: "Copyright © Viorel Mocanu, toate drepturile rezervate."; display: block; text-align: center; }

	.Container { background: transparent; margin: 0; padding: 0; }

	h1, h2, h3, h4, h5, h6 { page-break-after: avoid; page-break-inside: avoid }
	h1 + h2 { page-break-before: avoid; }

	table, pre, img, svg, blockquote, a { break-inside: avoid; }

	ul, ol, dl { page-break-before: avoid; }

	.TitlulPaginii { padding-top: 0.5em; }
	.ListaText { display: inline; color: #00f; white-space: normal; text-decoration: underline; }

}